.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  gap: 1rem;
}

.loader-icon {
  font-size: 3rem;
  color: #3b82f6;
  /* 🔥 Agregamos la animación personalizada acá */
  animation: girar 1s linear infinite;
}

.loader-text {
  color: #b3b3b3;
  font-weight: 500;
  letter-spacing: 1px;
}

/* 🔥 Creamos la regla para que rote de 0 a 360 grados */
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
