footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-top: 1px solid #333;
}
.social-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.social-list li a i {
  font-size: 1.8rem;
  color: #b3b3b3;
  transition:
    transform 0.2s,
    color 0.2s;
}
.social-list li a:hover .fa-whatsapp {
  color: #25d366;
  transform: scale(1.1);
}
.social-list li a:hover .fa-instagram {
  color: #e1306c;
  transform: scale(1.1);
}
