.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); /* Resta header y footer */
}
.login-container {
  width: 100%;
  max-width: 400px;
  padding: 2.5rem;
  background: #1e1e1e;
  border-radius: 12px;
  border: 1px solid #333;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.login-container h2 {
  margin-bottom: 2rem;
  color: #fff;
  font-family: "Playfair Display", serif;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}
.login-input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #121212;
  color: #fff;
  outline: none;
  margin-top: 0.5rem;
  transition: border-color 0.2s;
}
.login-input:focus {
  border-color: #3b82f6;
}
